{% extends 'index_accounts.html' %}
{%load static%} {%block content%}

<div class="row" style="padding-top:20px;">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 grid-margin">
    <a href="{% url 'accounts_income'  %}" style="text-decoration: none">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="margin-top:40px;">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Income</h4>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
              <h4 class="text-light"></h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 grid-margin">
    <a href="{% url 'accounts_mainexpenses'  %}" style="text-decoration: none">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="margin-top:40px;">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Expence</h4>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
              <h4 class="text-light"></h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 grid-margin">
    <a href="{% url 'accounts_paymenthead'  %}" style="text-decoration: none">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="margin-top:40px;">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Payment Head</h4>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
              <h4 class="text-light"></h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 grid-margin">
    <a href="{% url 'accounts_traineepayment_notverified'  %}" style="text-decoration: none">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="margin-top:40px;">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Trainee Payment NotVerified</h4>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
              <h4 class="text-light">{{deta}}</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12  grid-margin">
    <a href="{% url 'accounts_traineepayment_pending'  %}" style="text-decoration:none;">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="margin-top:40px;">
            <div class="col-8 col-sm-12 col-md-8 col-lg-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Trainee Payment Pending</h4>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 text-center text-xl-right">
              <h4 class="text-light">{{c}}</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 grid-margin">
    <a href="{% url 'accounts_newtrainees'  %}" style="text-decoration: none">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="margin-top:40px;">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">New Trainees</h4>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
              <h4 class="text-light">{{deta2}}</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-12  grid-margin ">
    <a href="{% url 'accounts_salary_pending' %}" style="text-decoration:none;">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="margin-top:40px;">
            <div class="col-8 col-sm-12 col-md-8 col-lg-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Salary Pending</h4>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 text-center text-xl-right">
              <h4 class="text-light">{{vars}}</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12  grid-margin">
    <a href="{% url 'accounts_salaried_employees' %}" style="text-decoration: none;">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="margin-top:40px;">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Salaried Employees</h4>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
              <h4 class="text-light">{{vars1}}</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12  grid-margin">
    <a href="{% url 'accounts_salary_employees' %}" style="text-decoration:none;">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="margin-top:40px;">
            <div class="col-8 col-sm-12 col-md-8 col-lg-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Salary Of Employees</h4>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 text-center text-xl-right">
              <h4 class="text-light">{{vars2}}</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-12 grid-margin">
    <a href="{% url 'accounts_salary_given' %}" style="text-decoration: none">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="margin-top:40px;">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Salary Given</h4>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
              <h4 class="text-light">{{vars3}}</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12  grid-margin ">
    <a href="{% url 'accounts_monthdays_cards' %}" style="text-decoration:none;">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="padding-top:20px;">
            <div class="col-8 col-sm-12 col-md-8 col-lg-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Month Days</h4>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-calendar-today text-warning ms-auto"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-12 col-md-6 col-lg-6 grid-margin">
    <a href="{% url 'accounts_internship' %}" style="text-decoration: none">
      <div class="card" style="height: 180px">
        <div class="card-body">
          <div class="row" style="margin-top:40px;">
            <div class="col-8 col-sm-8 col-md-8  col-lg-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Internship</h4>
              </div>
            </div>
            <div class="col-4 col-sm-4 col-md-2 col-lg-2 text-center text-xl-right">
              <h4 class="text-light">{{icount}}</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>


{% endblock %}