
<div class="row mt-3 justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <form>
              <div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control text-light" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."
            title="Type in a name" style="color:white;">

                
              </div>
            </form>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table " id="myTables">
            <thead>
              <tr>
                <th>Project</th>
                <th>Task</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Submition Date</th>
                <th>Progress</th>
                <th>Delay </th>
              </tr>
            </thead>
            <tbody>
              {% if names %}
              {% for i in names %}
              <tr>
                <td>{{i.project}}</td>
                <td>{{i.task}}</td>
                <td>{{i.startdate|date:'d-m-Y'}}</td>
                <td>{{i.enddate|date:'d-m-Y'}}</td>
                <td>{{i.submitted_date|date:'d-m-Y'}}</td>
                <td>
                  <div class="progress" style="height:20px;">
                      <div class="progress-bar" style="height:20px;width:{{i.progress}}%">{{i.progress}}%</div>
                  </div>
                </td>
                <td id="loop"><div class="badge badge-outline-danger">
                        {% if i.delay %}
                        {{i.delay}}
                        {% else %} 0
                        {% endif %}</div></td>
              </tr>
              {% endfor %}
              <tr>
               <td colspan="6">Total Delay of Selected days</td>
                  <td><div class="badge badge-outline-danger" id="total">{{a}}</div></td>
              </tr>
            {% else %}
            <h5>Nothing to display...</h5>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
//       $(function() {

//       var TotalValue = 0;

//       $("tr #loop").each(function(index,value){
//          currentRow = parseFloat($(this).text());
//          TotalValue += currentRow
//       });

//       document.getElementById('total').innerHTML = TotalValue;

// });
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTables");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    
</script>

