{% extends 'index_accounts.html' %} {% load static %} {% block content %}

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
  }
  </style>

<div class="form-group">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12col-lg-12 grid-margin">
            <div class="card mt-3 mb-5">
                <div class="card-body">
                    <form class="forms-sample"  method="post"autocomplete="off">
                    <div class="row">

                        <h5>INITIAL PAYMENT ({{prom_data.user_id}})</h5>
                        <div class="h-divider"></div><br><br>
                        
                           
                            {% csrf_token %}

                                <div class="row">
                                    
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="text-muted" style="padding-left:4px ;padding-top:10px; width:130px;"> INITIAL AMOUNT</label>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <input type="number" class="form-control text-light" name="in_amt" value="{{prom_data.inital_amount}}" >

                                    </div>
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="text-muted"
                                            style="padding-left:4px ;padding-top:10px;width:200px;">BALANCE AMOUNT</label>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 ">
                                        <input type="number" class="form-control text-light" name="in_bal_amt" value="{{prom_data.inital_balance_amount}}" >
                                    </div><br><br>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="text-muted"
                                            style="padding-left:4px ;padding-top:10px; width:130px;">PAID ON <br>({{prom_data.inital_paid_on}})</label>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <input type="date" class="form-control text-light" name="in_paid_on" id="date"  >
                                    </div><br><br>



                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="text-muted"
                                            style="padding-left:4px ;padding-top:10px;width:200px;"> PAID DATE ({{prom_data.inital_paid_date}})</label>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <input type="DATE" class="form-control text-light" name="in_paid_date"  >
                                    </div><br><br>



                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="text-muted"
                                            style="padding-left:4px ;padding-top:10px; width:130px;">PAID AMOUNT</label>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <input type="number" class="form-control text-light" name="in_paid_amt" id="date" value="{{prom_data.inital_paid_amount}}" >
                                    </div><br><br>
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="text-muted"
                                            style="padding-left:4px ;padding-top:10px;width:200px;">Due Date ({{prom_data.inital_due_date}})</label>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <input type="date" class="form-control text-light" name="in_due_date"  >
                                    </div><br><br>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="text-muted"
                                            style="padding-left:4px ;padding-top:10px; width:110px;">Total Payments</label>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <input type="number" class="form-control text-light" name="in_tot_pay" value="{{prom_data.inital_total_payment}}" ><br><br>
                                    </div>
                                
                                    
                                </div>

                            
                        
                    </div>

                    <div class="row">

                        <h5>SECOND PAYMENT </h5>
                        <div class="h-divider"></div><br><br>



                        <div class="row">
                                    
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted" style="padding-left:4px ;padding-top:10px; width:130px;"> INITIAL AMOUNT</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control text-light" name="sec_amt" value="{{prom_data.second_amount}}" >

                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px;width:200px;">BALANCE AMOUNT</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 ">
                                <input type="number" class="form-control text-light" name="sec_bal_amt" value="{{prom_data.second_balance_amount}}" >
                            </div><br><br>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px; width:130px;">PAID ON <br>({{prom_data.second_due_on}})</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="date" class="form-control text-light" name="sec_paid_on" id="date"  >
                            </div><br><br>



                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px;width:200px;"> PAID DATE ({{prom_data.second_paid_date}})</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="DATE" class="form-control text-light" name="sec_paid_date" >
                            </div><br><br>



                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px; width:130px;">PAID AMOUNT</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control text-light" name="sec_paid_amt" id="date" value="{{prom_data.second_paid_amount}}" >
                            </div><br><br>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px;width:200px;">Due Date {{prom_data.second_due_date}}</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="date" class="form-control text-light" name="sec_due_date"  >
                            </div><br><br>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px; width:110px;">Second Due on ({{prom_data.second_due_date_on}})</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="date" class="form-control text-light" name="second_due_date_on" ><br><br>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px; width:110px;">Total Payments</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control text-light" name="sec_tot_pay" value="{{prom_data.second_total_payment}}" ><br><br>
                            </div>
                        
                            
                        </div>
                        
                           
                            
                        
                        
                            
                        
                    </div>


                    <div class="row">
                        <h5>FINAL PAYMENT </h5>
                        <div class="h-divider"></div><br><br>

                        <div class="row">
                                    
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted" style="padding-left:4px ;padding-top:10px; width:130px;"> INITIAL AMOUNT</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control text-light" name="fnl_amt" value="{{prom_data.final_amount}}"  >

                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px;width:200px;">BALANCE AMOUNT</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 ">
                                <input type="number" class="form-control text-light" name="fnl_bal_amt" value="{{prom_data.final_balance_amount}}"  >
                            </div><br><br>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px; width:130px;">PAID ON <br>({{prom_data.final_paid_date}})</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="date" class="form-control text-light" name="fnl_paid_on" id="date" value="{{prom_data.final_paid_date}}"  >
                            </div><br><br>



                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px;width:200px;"> PAID DATE ({{prom_data.final_paid_date}})</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="DATE" class="form-control text-light" name="fnl_paid_date"  >
                            </div><br><br>



                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px; width:130px;">PAID AMOUNT</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control text-light" name="fnl_paid_amt" id="date" value="{{prom_data.final_balance_amount}}"  >
                            </div><br><br>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px;width:200px;">Due Date ({{prom_data.final_due_date}})</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="date" class="form-control text-light" name="fnl_due_date"   >
                            </div><br><br>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px; width:110px;">Final Due on <br>({{prom_data.final_due_date_on}})</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="date" class="form-control text-light" name="fnl_due_date_on" ><br><br>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <label class="text-muted"
                                    style="padding-left:4px ;padding-top:10px; width:110px;">Total Payments</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control text-light" name="fnl_tot_pay" value="{{prom_data.final_total_payment}}"  ><br><br>
                            </div>
                        
                            
                        </div>

                        

                        



                        <div class="row">
                            <center>
                                <input type="submit" name="submit" class=" mt-4 btn btn-outline-primary btn-icon-text" style="width: 100px; margin-left: 50px; ">                         
                            </center> 
                        </div>
                            
                        </div>
                        
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if msg_success %}
<script>
  Swal.fire({
    position: 'center',
    icon: 'success',
    text: '{{ msg_success }}',
    showConfirmButton: false,
    timer: 1500
  }).then(function () {
    javascript: history.go(-4);
  })
</script>
{% endif %}

{% endblock %}