{% extends 'BRadmin_index.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
  </head>
  <body>
    {% comment %} <div class="content-wrapper">     {% endcomment %}
      <div class="row">   
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Team members work</h3>
              <div class="form-group">
                <input type="text" class="form-control"id="myInput" placeholder="Search for names.." title="Type in a name" style="color:white;">
                 </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                     
                      <th> Project </th>
                      <th> Task </th>
                      <th> Employee </th>
                      <th> Start Date </th>
                      <th> End Date </th>
                      <th> Submission Date </th>
                      <th> Git Link </th>
                      <th> Delay </th>
                      
                     
                    </tr>
                  </thead>
                  <tbody id="myTable">
                 
                    {% for i in project_details %}
                   
                    <!--<tr data-href="{% url 'BRadmin_developers' i.id  %}">-->
                    <tr>
                        <td> {{i.project}} </td>
                        <td> {{i.task}} </td>
                        <td> {{i.developer}}</td>
                        <td> {{i.startdate|date:'d-m-Y'}}</td>
                        <td> {{i.enddate|date:'d-m-Y'}}</td>
                        <td> {{i.submitted_date|date:'d-m-Y'}}</td>
                      <td><a href="{{i.git_link}}" target="_blank" style="text-decoration: none;">
                    <div class="badge badge-outline-success">Link</div>
                  </a></td>
                        <td>  <div class="badge badge-outline-danger">{{i.delay}}</div></td>
                      </tr>
                    
                   
                {% endfor %}
                    
                
                
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% comment %} </div> {% endcomment %}
  </body>
</html>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock%}