{% extends 'index_trainingmanager.html' %} {% load static %} {% block content %}

<body>
    <style>
        table tr[data-href] {
            cursor: pointer;
        }
    </style>



    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                           
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <form>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- table start hear -->

                    <div class="table-responsive">
                        <table class="table " id="myTable">
                            <thead>

                                <tr data-href="#">
                                    <th style="padding-left:40px;"> Name </th>
                                    <th> Department</th>
                                    <th> Phone No. </th>
                                    <th> Date </th>
                                    <th style="padding-left:30px;">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% if var %} {% for t in var %}
                                <tr data-href="#">
                                    <td>
                                        <img src="{{t.user_id.photo.url}}" alt="image" />
                                        <span class="ps-2">{{t.user_id.fullname}}</span>
                                    </td>
                                    <td> {{t.department.department}}</td>
                                    <td> {{t.user_id.mobile}}</td>
                                    <td> {{t.user_id.joiningdate|date:"d-m-Y"}}</td>

                                    <td><a href="/paypdf/{{t.id}}/{{mem.id}}"  class="btn btn-outline-primary btn-icon-text" >Viewslip</a></td>
                                </tr>
                                {% endfor %}{% else %}
                                <h5>Nothing to display...</h5>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


    {% comment %} $(document).ready(function() {
        $('table tr').click(function() {
            window.location = $(this).data('href');
            return false;
        });
    }); {% endcomment %}
</script>

{% endblock %}