{% extends 'promanagerindex.html' %} 
{% load static %} 
{% block content %}
<form class="card col-12" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
<div class="row mt-5">
    <div class="col-12 col-sm-1 col-md-2 col-lg-2"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                
                
                    <div class="form-group">
                        <label>Select Project</label>
                        <select class="form-control" id="proj_data" style="color:white;" name="project">
                            <option selected="true" disabled="disabled" value="">-Not Selected-</option>
                            {% for i in project_data %}
                            <option value="{{i.id}}">{{i.project}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Modules</label>
                        <select class="form-control" id="empname" style="color:white;" name="emp">
                        </select>
                    </div>
                    <label >Description</label>
                    <textarea type="text" name="table" style="height: 100px;" class="form-control card-title col-12 md-4" style='color:white'required placeholder="Table Description"></textarea>
                    <button type="submit" style="float: right;" class="btn btn-outline-primary btn-icon-text">
                        <i class="mdi mdi-file-check btn-icon-prepend"></i> Create 
                    </button>
                    
                    
                </div>
            
            </div>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript">
    $("#proj_data").change(function () {
        const deptId = $(this).val();
        console.log(deptId);
        $.ajax({
            url: '{% url "pm_module_data" %}',
            data: {
                'dept_id': deptId
            },
            success: function (data) {
                $("#empname").html(data);
                console.log(data);
            }
        });

    });
</script>
{% if msg_success %}
    <script>
        alert('{{ msg_success }}')
        javascript: history.go(-2);
    </script>
    {% endif %}

{% endblock %}