{% extends 'promanagerindex.html'%}
{% load static %}
{% block content %}
<style>
  @media (max-width:992px) {
    #log {
      max-width: 100px;
      margin-top: 12px;
      margin-left: 25px;
      margin-right: 15px;
    }
  }
</style>


          
<div class="row" style="margin: 3px;">
  <h2 class="text-muted"> Project List</h2>
</div>

<center>

  <div class="row " style="margin-top: 20px;">
    {% for i in var %}
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 grid-margin">
      <div class="card">
        <a href="{% url 'projectmanager_projectstatus' i.id %}" style="text-decoration: none; color: white;">
          <div class="card-body">
            
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0">{{i.project}}</h4>
                  <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+3.5%</p> -->
                </div>
                <!-- <h6 class="text-muted font-weight-normal">11.38% Since last month</h6> -->
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-codepen text-primary ms-auto"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
      </div>
      {% endfor %}
    </div>

 


</center>
    
    
{% endblock %}