{% extends 'promanagerindex.html' %}
{% load static %}
{% block content %}

<div class="row ">
  <h4 class="card-title" style="font-size: 20px;color:#6C7293; font-weight: 600;">Change Projects progress</h4><br><br>
  <div class="col-md-12 col-12 col-sm-12 col-lg-12  grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Change Projects progress</h4>
        <br>
        <input type="search" class="form-control rounded" id="myInput" onkeyup="myFunction()" placeholder="Search"
          aria-label="Search" aria-describedby="search-addon" style="color: white;" />
        <div class="table-responsive">
          <div class="col-md-12 col-12 col-sm-12 col-lg-12 ">


          </div>
          <table class="table" >
            <thead>
              <tr>
                <th> Project Name </th>
                <th> Start Date </th>
                <th> End Date </th>
                <th> Prgress </th>
                <th> Action </th>
              </tr>
            </thead>

            <tbody id="myTable">
              {% for i in projects %}

              <tr>
                <td>{{i.project}}</td>
                <td> {{i.startdate|date:"d-m-Y"}} </td>
                <td> {{i.enddate|date:"d-m-Y"}} </td>
                <td >
                <form class="d-flex"  action="" method="post" >
                    {% csrf_token %}
                    <input type="hidden" name="proj_id" value='{{i.id}}'> 
                <input type="number" name="progress" id="progress" class="form-control card-title col-12 md-4" value="{{i.progress}}" style='color:white !important'> 
                   <button type="submit"  class="btn btn-outline-success btn-icon-text mb-3" onclick="return confirm('Are you sure you want to chnage date?');">
          <i class="mdi mdi-file-check btn-icon-prepend"></i> Change </button>
          </form>
                </td>
              </tr>

              {% endfor %}

            </tbody>


          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% if msg_success %}
    <script>
        alert("{{msg_success}}")
        javascript: history.go(-2);
    </script>
    {% endif %}
<script>
 var todaysDate = new Date();
            var year = todaysDate.getFullYear();
            var month = ("0" + (todaysDate.getMonth() + 1)).slice(-2);
            var day = ("0" + todaysDate.getDate()).slice(-2);
            var maxDate = (year +"-"+ month +"-"+ day);
            $('#sdate').attr('min',maxDate);

$(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
{% endblock %}