{% extends 'BRadmin_index.html'%}
{% load static %}
{% block content %}

<style>
    #label {
        font-size: 24px;
        color: #626262;
    }
    #a
    {
        font-size: 24px;
    }
  
</style>
<label id="label">Registration</label>
<br><br>
<div class="row">
    <div class="col-sm-4 grid-margin">
        <div class="card" >
  
          <a href="{% url 'BRadmin_registration' %}" style="cursor: pointer;text-decoration: none;color: inherit;">
          <div class="card-body">
           
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0" id="a">Current</h2>
     
                </div>
        
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-account-multiple-outline text-primary ms-auto"></i>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <a href="{% url 'BRadmin_resign' %}" style="cursor: pointer;text-decoration: none;color: inherit;">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0" id="a">Resigned</h2>
                  <p class="text-success ms-2 mb-0 font-weight-medium"></p>
                </div>
            
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-account-off text-primary ms-auto"></i>
              </div>
            </div>
          </div>
      </a>
        </div>
      </div>
      <div class="col-sm-4 grid-margin">
        <div class="card" >
  
          <a href="{% url 'BRadmin_new_registration' %}" style="cursor: pointer;text-decoration: none;color: inherit;">
          <div class="card-body">
           
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0" id="a">New</h2>
     
                </div>
        
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-account-multiple-outline text-success ms-auto" ></i>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>

                                    
{% endblock %}