{%extends 'index_trainingmanager.html'%} {% load static %} {% block content %}
<div class="row mt-3 mb-5">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin-top: -16px">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                        <h4>Trainees</h4><br>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                        </div>

                    </div>
                </div>
                <!-- trainee table starts here -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr data-href="#">
                                <th> Slno </th>
                                <th> Name </th>
                                <th> Department</th>
                                <th> Join Date </th>
                                <th> Email </th>
                                <th> Mobile </th>
                            </tr>
                        </thead>
                        <tbody  id="myTable">{% if tre %} {% for t in tre %}
                            <tr data-href="{% url 'traineedetails' t.id %}">
                                 <td> {{forloop.counter}} </td>
                                <td><img src=" {{t.photo.url}} " alt="image " /> &nbsp;{{t.fullname}}</td>
                                <td> {{t.department.department}} </td>
                                <td>{{t.joiningdate|date:"d-m-Y"}}</td>
                                <td>{{t.email}}</td>
                                <td>{{t.mobile}}</td>
                            </tr>
                            {% endfor %}{% else %}
                            <h5>Nothing to display...</h5>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- trainee table ends here -->
<script>
    $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script>
    $(document).ready(function() {
        $('table tr').click(function() {
            window.location = $(this).data('href');
            return false;
        });
    });
</script>
{%endblock%}